.wrapper { width: 100%; padding-left: var(--padding-base); padding-right: var(--padding-base); padding-top: 3.33vw; /* 64px */ padding-bottom: 3.33vw; background: #ffffff; }
.container { width: 100%;  }
.title { font-family: var(--font-heading); font-weight: 700; color: var(--color-brand-blue); font-size: 1.67vw; /* 32px */ line-height: 1.3; margin-bottom: 1.56vw /* 30px */ }
.paragraph { font-size: 0.94vw; /* 18px */ line-height: 1.9; color: #4b5563; margin-bottom: 1.04vw /* 20px */ }
.subheading { font-weight: 700; color: var(--color-brand-gold); font-size: 0.94vw; /* 18px */ margin: 1.56vw 0 0.83vw }
.list { padding-left: 1.67vw; /* 32px */ display: grid; gap: 0.52vw }
.listItem { font-size: 0.94vw; line-height: 1.9; color: #4b5563 }

@media screen and (max-width: 1024px) {
  .title { font-size: 3.13vw; margin-bottom: 2.93vw }
  .paragraph { font-size: 1.76vw; margin-bottom: 1.95vw }
  .subheading { font-size: 1.76vw; margin: 2.93vw 0 1.37vw }
  .list { padding-left: 3.13vw; gap: 0.98vw }
  .listItem { font-size: 1.76vw }
}

@media screen and (max-width: 600px) {
  .title { font-size: 6.63vw; margin-bottom: 6.1vw }
  .paragraph { font-size: 3.81vw; margin-bottom: 4.83vw }
  .subheading { font-size: 3.81vw; margin: 6.1vw 0 2.54vw }
  .list { padding-left: 6.61vw; gap: 2.29vw }
  .listItem { font-size: 3.81vw }
}
