.main { display: flex; flex-direction: column; gap: 2.50vw; }
.row { display: flex; gap: 2.50vw; padding: 0 2.50vw; }
.fullHeight { position: relative; align-self: stretch; }
.solutionsRight { width: 32%; }


@media screen and (max-width: 1024px) {
    /* .row { align-items: center;} */
    .solutionsRight { width: 87%; }

}

@media screen and (max-width: 600px) {
    /* .row { align-items: center;} */
    .solutionsRight { width: 100%; }
    .row { flex-direction: column; padding: 0 .3vw !important; }
    .main { gap: 27.5vw;}

}